USE [master]
GO
/****** Object:  Database [Gibdd_Mamichev]    Script Date: 07.02.2022 12:32:30 ******/
CREATE DATABASE [Gibdd_Mamichev]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Gibdd_Mamichev', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Gibdd_Mamichev.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Gibdd_Mamichev_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Gibdd_Mamichev_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Gibdd_Mamichev].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Gibdd_Mamichev]
GO
/****** Object:  Table [dbo].[Drivers]    Script Date: 07.02.2022 12:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Drivers](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SurName] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[MiddlName] [nvarchar](50) NOT NULL,
	[Passport] [nvarchar](15) NOT NULL,
	[Postcode] [int] NULL,
	[Address] [nvarchar](150) NOT NULL,
	[Address_life] [nvarchar](150) NULL,
	[JobName] [nvarchar](150) NULL,
	[Position] [nvarchar](50) NULL,
	[Company] [nvarchar](150) NOT NULL,
	[PhoneNumber] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Photo] [nvarchar](max) NULL,
	[Description] [nvarchar](50) NULL,
 CONSTRAINT [PK_Drivers] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsingLogin]    Script Date: 07.02.2022 12:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsingLogin](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
 CONSTRAINT [PK_UsingLogin] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Drivers] ON 

INSERT [dbo].[Drivers] ([ID], [SurName], [Name], [MiddlName], [Passport], [Postcode], [Address], [Address_life], [JobName], [Position], [Company], [PhoneNumber], [Email], [Photo], [Description]) VALUES (1, N'Hopkins', N'Alonso', N'Caleb', N'2303 160716', 760832, N'452 Cobblestone St.', N'', N'Reporter', N'', N'Global Gillette', N'+7(970)383-8933', N'skippy@icloud.com', N'001-happy-18.png', N'')
INSERT [dbo].[Drivers] ([ID], [SurName], [Name], [MiddlName], [Passport], [Postcode], [Address], [Address_life], [JobName], [Position], [Company], [PhoneNumber], [Email], [Photo], [Description]) VALUES (2, N'Sellers', N'Kaydence', N'Susannah', N'5563 160745', 807042, N'Hyattsville, MD 20782', N'', N'Elementary School Teacher', N'', N'Coca-Cola', N'+7(867)708-4447', N'isotopian@sbcglobal.net', N'002-cool-5.png', N'')
INSERT [dbo].[Drivers] ([ID], [SurName], [Name], [MiddlName], [Passport], [Postcode], [Address], [Address_life], [JobName], [Position], [Company], [PhoneNumber], [Email], [Photo], [Description]) VALUES (3, N'Bray', N'Finnegan', N'Brighton', N'3719 717453', 83282, N'9648 Philmont Lane', N'', N'Childcare worker', N'', N'Harley-Davidson Motor Company', N'+7(221)428-7850', N'isaacson@att.net', N'003-happy-17.png', N'')
GO
SET IDENTITY_INSERT [dbo].[Drivers] OFF
GO
SET IDENTITY_INSERT [dbo].[UsingLogin] ON 

INSERT [dbo].[UsingLogin] ([ID], [Login], [Password]) VALUES (1, N'Inspector', N'Inspector')
SET IDENTITY_INSERT [dbo].[UsingLogin] OFF
GO
USE [master]
GO
